* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;

}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 80%;


}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.chatWrap {
  float: left;
}

#messages {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  overflow: auto;
}

#messages li {
  padding: 5px 10px;
  width: 2220px;
  float: left;
  font-weight: bold;

}

#message li ul {
    display: none;
    z-index: 9999;
    position: absolute;
    width: 400px;
    max-height:63px;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 0px;
    padding-left:5px;
    border: 1px solid #ddd;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#OU {
  color: grey;
  position: fixed;
  right: 11.5%;
  font-size: 20px;
  background-color: white;

}
nav {
  margin-top: 20px;
  height: 100%;
  width: 20%;
  position: fixed;
  right: 0px;
  background: #2F4F4F;
  color: white;
  font-size: 19px;

}
